@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);

body {
  max-width: 1240px;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Serif', serif;
}

.burger {
  display: none;
  height: 45px;
  background: url('../img/logo-mobile.png') no-repeat 50%, #83052f;
}

.burger a {
  display: block;
  color: #f1a79b;
  font-size: 30px;
  line-height: 45px;
  padding-left: 13px;
  text-decoration: none;
}

body>nav {
  display: inline-block;
  vertical-align: top;
  max-width: 288px;
  margin-right: 25px;
}

nav .logo {
  height: 435px;
  background: url('../img/logo-big.png') no-repeat 50% 35px, 
              linear-gradient(#83052f 16%, #56031c);
}

.news {
  text-align: center;
}

nav fieldset {
  border-style: none;
  border-top: 1px solid #b29d76;
  margin-top: 34px;
  margin-bottom: 6px;
}

nav legend {
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 23px;
  letter-spacing: 1px;
}

.news-block {
  border: 1px solid #a3a3a3;
  margin-bottom: 20px;
}

.news-block span {
  display: block;
  font-size: 13px;
  color: #737373;
  text-align: center;
  padding: 14px 0 5px 0;
}

.news-block a {
  display: block;
  padding: 7px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 1.5em;
}

.news-block a:hover {
  text-decoration: underline;
}

.news-block:hover {
  border: 1px solid #91733c;
}

.all-news {
  margin-top: 30px;
}

.all-news .book {
  display: inline-block;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  background: url('../icons/ico-book.png') no-repeat;
}

.all-news a {
  color: #74042a;
  padding: 0 5px;
  font-size: 15px;
}


/*=========================*/

main {
  display: inline-block;
  max-width: 922px;
  margin-bottom: 45px;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.top-panel a {
  color: #74042a;
  font-size: 14px;
  text-decoration: none;
}

.lang a:first-child {
  padding: 2px 5px;
  border: 1px solid #74042a;
  margin-right: 4px;
}

.lang a:nth-child(2) {
  border-bottom: 1px solid #74042a;
}

.top-panel input {
  width: 195px;
  padding: 2px 25px 2px 5px;
  font-style: italic;
  font-size: 14px;
  background: url('../icons/ico-search.png') no-repeat 205px;
}

.fb,
.vk,
.ok {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  margin-right: 5px;
}

.fb {
  background: url('../icons/social-fb.png') no-repeat;
}

.vk {
  background: url('../icons/social-vk.png') no-repeat;
}

.ok {
  background: url('../icons/social-ok.png') no-repeat;
  margin-right: 0;
}


/*=========================*/

.hgroup a {
  color: black;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.hgroup a:nth-child(2) {
  text-decoration: none;
  color: #91733c;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  margin: 0;
}

h1 {
  font-size: 27px;
  margin-top: 10px;
}

h2 {
  font-size: 23px;
}

.hgroup fieldset {
  text-align: center;
  border-style: none;
  border-top: 1px solid #b29d76;
  margin-top: 8px;
  margin-bottom: -15px;
}

.hgroup .icon-logo {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../icons/ico-logo.png');
}


/*=========================*/

.submenu ul {
  display: flex;
  background-color: #f2eada;
  list-style: none;
  padding: 15px;
}

.submenu li {
  padding-left: 8px;
  padding-right: 8px;
}

.submenu li:first-child {
  background-color: #74042a;
}

.submenu li:first-child a {
  color: #f2eada;
}

.submenu a {
  display: block;
  font-size: 17px;
  color: #74042a;
  text-decoration: none;
  border-bottom: 1px dotted #74042a;
}


/*=========================*/

article {
  display: inline-block;
  max-width: 600px;
}

article p {
  font-size: 15px;
  line-height: 22px;
}

h3,
h4,
h5 {
  color: #91733c;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

article a {
  color: #74042a;
}

article a:hover {
  text-decoration: none;
}

.disk {
  list-style: disc;
}

.dashes {
  list-style: upper-roman;
}

.ld-none {
  list-style: none;
}

.donut {
  list-style: upper-roman;
  color: #91733c;
}

.golden-border {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  color: #91733c;
  line-height: 25px;
  border: 3px solid #91733c;
  opacity: 0.7;
  padding: 25px 75px 30px 30px;
}

ol {
  margin-top: -10px;
}

ol li {
  padding: 5px;
}

.small-text {
  font-size: 13px;
  line-height: 20px;
}

table {
  border: 1px solid #b29d76;
}

th {
  font-size: 14px;
}

td {
  font-size: 13px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tr td:first-child {
  font-weight: 700;
}

thead {
  background-color: #b29d76;
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: #f2eada;
}

thead th:nth-child(2),
thead th:nth-last-child(2) {
  border-left: 1px solid #9b804d;
  border-right: 1px solid #9b804d;
}

tbody td:nth-child(2),
tbody td:nth-last-child(2) {
  border-left: 1px solid #b29d76;
  border-right: 1px solid #b29d76;
}

tbody tr:last-child {
  font-weight: 700;
}


/*=========================*/

aside {
  margin-top: -10px;
  margin-left: 30px;
  display: inline-block;
  max-width: 270px;
  vertical-align: top;
}

h5 {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 1px;
}

aside p {
  color: #333333;
  font-size: 13px;
  line-height: 19px;
}


/*=========================*/

.form {
  max-width: 600px;
}

.form form {
  padding: 30px;
  background-color: #f2eada;
}

form label,
form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
}

input,
textarea {
  border: 1px solid #848483;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #8d324d;
  box-shadow: 0 0 3px #8d324d;
}

.form label {
  font-size: 14px;
  padding: 5px 0;
}

form input[type="text"],
form input[type="email"] {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px 10px 3px 10px;
  box-sizing: border-box;
  width: 294px;
}

.form em {
  color: #cd0000;
  font-size: 13px;
}

.form textarea {
  margin-top: 3px;
  box-sizing: border-box;
  width: 294px;
  height: 94px;
}

label>span:first-child,
i span {
  color: #74042a;
}

form p {
  font-size: 13px;
}

form i {
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
}

.form input[type="radio"] {
  margin-right: 7px;
}

.checkbox {
  display: inline;
  margin-right: 10px;
}

.checkbox input {
  margin-right: 7px;
}

.form button {
  width: 132px;
  height: 35px;
  margin-right: 30px;
  border: none;
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 15px;
  background: linear-gradient(0deg, #53011d 27%, #74042a 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.44);
}

.form button:hover {
  background: linear-gradient(0deg, #74042a 27%, #53011d 100%);
}


/*=========================*/
/*========MEDIA============*/
/*=========================*/

@media only screen and (max-width: 1230px) {
  body>nav {
    display: none;
  }
  .burger {
    display: block;
  }
  main {
    display: block;
    margin: auto;
  }
}

/*=========================*/

@media only screen and (max-width: 960px) {
  article,
  .form {
    display: block;
    margin: auto;
    padding: 10px;
  }
  aside,
  .top-panel {
    display: none;
  }
  main {
    margin-top: 10px;
    padding: 0 20px;
  }
  .golden-border {
    padding: 25px;
  }
}

/*smartphones*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    article,
    .form {
      display: block;
      margin: auto;
      padding: 10px;
    }
    aside,
    .top-panel {
      display: none;
    }
    main {
      margin-top: 10px;
      padding: 0 20px;
    }
    article hr {
      display: none;
    }
    .golden-border {
      padding: 25px;
    }
    .form {
      display: none;
    }
}